################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Лабы/.vs/Laba1
/Лабы/Laba1/x64/Debug
/Лабы/x64/Debug
*.user
/Лабы/Laba1/.vs/Laba1
/Лабы/Laba1/Debug/Laba1.Build.CppClean.log
