################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Лабы/.vs/Laba1
/Лабы/Laba1/x64/Debug
/Лабы/x64/Debug
*.user
/Лабы/Laba1/.vs/Laba1
Debug/
*.tlog
/Линейная алгебра/perceptron/.vs/perceptron
/Линейная алгебра/perceptron/obj
/Лабы 2/ConsoleApplication1/.vs/ConsoleApplication1
