################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

.vs/
*.user
Debug/
*.tlog
/Линейная алгебра/perceptron/obj

vcpkg_installed/
